.body{
    font-family: 'Indie Flower', cursive;
    background-color: rgb(245, 229, 14);
    margin: 0px 15px 15px 15px;

}
.jumbotron-1{
    background-image: url("../images/retro-vintage-80s.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
        
}
.inner-text{
    color: white;
    font-family: 'Acme', sans-serif;
}
.lower-text{
    font-family:'Fjalla One', sans-serif;
    font-size: 32px;
}